.container {
    max-width: 1200px;
    margin: 0 auto;
}

.bs-example > div, .bs-example > h1, .bs-example > h2, .bs-example > h3, .bs-example > h4, .bs-example > h5, .bs-example > h6, .bs-example > p, .bs-example > a, .bs-example > button, .bs-example > ul, .bs-example > dl, .bs-example > table, .bs-example > form, .bs-example > input, .bs-example > textarea, .bs-example > select {
    margin-bottom: 10px;
    margin-right: 10px;
}

.example_area-components_confirm .bs-example {
    padding: 20px;
    height: 500px;
    background: rgba(0, 0, 0, .5);
}

.bs-example .dxy-confirm {
    position: relative;
}

.bs-example .dxy-row {
    margin-bottom: 10px;
}

.bs-example .dxy-row > div {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.5;
    background-color: #f4fbff;
    border: 1px solid #89d9fd;
    font-size: 14px;
}

.bs-example .dxy-go-top {
    display: inline-block;
    margin-right: 20px;
}

.bs-example .loading-box {
	text-align: center;
	margin-bottom: 30px;
	height: 300px;
	border: 1px solid #ccc;
	position: relative;
}

.bs-example .loading-box > .red {
	color: red;
}

.bs-example [class*=dxy-margin], .bs-example > [class*=dxy-padding] {
    background-color: #f4fbff;
    border: 1px solid #89d9fd;
}