$font-color: #333;
$font-size: 14px;
$font-family: 'Helvetica Neue', 'Helvetica,Arial', 'Sans-serif';

$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 26px;
$h4-font-size: 24px;
$h5-font-size: 22px;
$h6-font-size: 20px;