// prefix
$prefix: 'dxy';


/* colors
 *
 */

$white: #fff;
$red: red;
$blue: blue;
$green: green;
$orange: orange;
$yellow: yellow;
$pink: pink;
$purple: purple;
$brown: brown;
$teal: teal;
$black: #000;

// grey
$grey-1: #333;
$grey-2: #555;
$grey-3: #777;
$grey-4: #999;
$grey-5: #bbb;
$grey-6: #ddd;
$grey-7: #eee;

$greys: (
  1: $grey-1,
  2: $grey-2,
  3: $grey-3,
  4: $grey-4,
  5: $grey-5,
  6: $grey-6,
  7: $grey-7
);

// situation colors
$active: #2c7cec;
$success: #22c93d;
$warning: #ff9110;
$info: #84c2fd;
$danger: #ff3939;


/* font
 *
 */

$font-color: $grey-1;
$font-color-tip: $grey-4;

$font-family: 'Helvetica Neue', 'Helvetica,Arial', 'Sans-serif';

$font-size-sm: 12px;
$font-size: 14px;
$font-size-lg: 16px;

// h1~h6 size
$font-size-h: (
  h1: 30px,
  h2: 28px,
  h3: 26px,
  h4: 24px,
  h5: 22px,
  h6: 20px
);

// line-height
$line-height-xs: 1;
$line-height-sm: 1.2;
$line-height: 1.5;
$line-height-lg: (4 / 3);


/*
 * 其他的不作过多定义，以元素、组件区分引用，避免与其他样式耦合
 */


/* button
 *
 */

// font-size
$btn-font-size: 14px;
$btn-lg-font-size: 16px;
$btn-sm-font-size: 12px;
$btn-font-weight: normal;

// padding
$btn-pd: 5px 10px;
$btn-lg-pd: 10px 15px;
$btn-sm-pd: 2px 5px;

// border
$btn-border-width: 1px;
$btn-radius: 4px;

// colors
$btn-default-color: #fff;
$btn-default-bd-color: #ddd;
$btn-primary-color: #337ab7;
$btn-success-color: #5cb85c;
$btn-info-color: #5bc0de;
$btn-warning-color: #f0ad4e;
$btn-danger-color: #d9534f;
$btn-link-color: #337ab7;

//border padding margin
$direction: top right bottom left;
$border-radius: 4px;
$border-width: 1px;
$border-color: #999;
$padding: 10px;
$margin: 20px;

$highlight: #feefcc;

//font situation and bg situation
$font-situation: (
        active:#3572fe,
        success:#24c54a,
        info:#0baefa,
        warning:#f8af00,
        danger:#f33237
);
$bg-situation:(
        active:#3572fe,
        success:#24c54a,
        info:#0baefa,
        warning:#f8af00,
        danger:#f33237
);

