// colors
$black: #000;
$grey-dark: #333;
$grey: #666;
$grey-light: #999;
$grey-lighter: #ccc;
$grey-lightest: #eee;
$white: #fff;
$red: red;
$blue: blue;
$green: green;
$orange: orange;
$yellow: yellow;
$pink: pink;
$purple: purple;
$brown: brown;
$teal: teal;

// font
$font-color: $grey-dark;

$font-size-lg: 16px;
$font-size: 14px;
$font-size-sm: 12px;

$font-family: 'Helvetica Neue', 'Helvetica,Arial', 'Sans-serif';

$h1-font-size: 30px;
$h2-font-size: 28px;
$h3-font-size: 26px;
$h4-font-size: 24px;
$h5-font-size: 22px;
$h6-font-size: 20px;

$line-height: 1.5;
$line-height-lg: (4 / 3);

// btn
$btn-font-size: 14px;
$btn-lg-font-size: 16px;
$btn-sm-font-size: 12px;
$btn-font-weight: normal;

$btn-pd: 5px 10px;
$btn-lg-pd: 10px 15px;
$btn-sm-pd: 2px 5px;

$btn-border-width: 1px;
$btn-radius: 4px;

$btn-default-color: #fff;
$btn-default-bd-color: #ddd;
$btn-primary-color: #337ab7;
$btn-success-color: #5cb85c;
$btn-info-color: #5bc0de;
$btn-warning-color: #f0ad4e;
$btn-danger-color: #d9534f;
$btn-link-color: #337ab7;