// prefix
$prefix: 'dxy';


/////////////
// colors
//

$white: #fff;
$red: red;
$blue: blue;
$green: green;
$orange: orange;
$yellow: yellow;
$pink: pink;
$purple: purple;
$brown: brown;
$teal: teal;
$black: #000;

// grey
$grey-1: #222;
$grey-2: #333;
$grey-3: #555;
$grey-4: #777;
$grey-5: #999;
$grey-6: #b5b5b5;
$grey-7: #ddd;
$grey-8: #eee;

$greys: (
  1: $grey-1,
  2: $grey-2,
  3: $grey-3,
  4: $grey-4,
  5: $grey-5,
  6: $grey-6,
  7: $grey-7,
  8: $grey-8,
);

// situation colors
$active: #2c7cec;
$success: #22c93d;
$warning: #ff9110;
$info: #84c2fd;
$danger: #ff3939;


////////////
//  font
//

$font-color: $grey-1;
$font-color-tip: $grey-4;

$font-family: 'Helvetica Neue', 'Helvetica,Arial', 'Sans-serif';

$font-size-sm: 12px;
$font-size: 14px;
$font-size-lg: 16px;

// h1~h6 size
$font-size-h: (
  h1: 36px,
  h2: 30px,
  h3: 24px,
  h4: 18px,
  h5: 14px,
  h6: 12px
);
$h-font-family: '微软雅黑', 'Arial，Helvetica', 'Sans-serif';
$h-font-weight: normal;

// line-height
$line-height-xs: 1;
$line-height-sm: 1.2;
$line-height: 1.5;
$line-height-lg: (4 / 3);


//////////////
// 其他的不作过多定义，以元素、组件区分引用，避免与其他样式耦合
//


///////////////
// list
//
$list-style-size: 5px;
$list-style-color: #333;
$list-li-padding: 13px;
$list-li-spacing: 20px;
$list-dt-width: calc(40% - 13px);
$list-dd-width: 60%;
$list-dt-padding: 13px;


/////////////
// button
//

// font-size
$btn-font-size: 14px;
$btn-lg-font-size: 20px;
$btn-sm-font-size: 12px;
$btn-xs-font-size: 12px;
$btn-font-weight: normal;

// padding
$btn-pd: 10px 18px;
$btn-lg-pd: 12px 25px;
$btn-sm-pd: 8px 12px;
$btn-xs-pd: 4px 10px;
$select-pd: 5px 0;
$select-option-pd: 3px 9px;

// border
$btn-border-width: 1px;
$btn-radius: 4px;
$btn-bd-color: #cccccc;
$btn-situation-bd-color: #dddddd;
$btn-disabled-bd-color: $grey-7;


// background-colors
$btn-situations: (
  primary:$active,
  success:$success,
  info:$info,
  warning:$warning,
  danger:$danger
);

// color
$btn-color: #333333;
$btn-link-color: #3572fe;
$btn-disabled-color: #aaaaaa;
$btn-situation-color: #fefefe;
$btn-situation-disabled-color: #bcbcbc;
$btn-link-disabled-color: #c6c6c6;

// background-color
$btn-bg-color: #fff;
$btn-disabled-bg-color: #eeeeee;

// darken
$btn-hover-darken: 8%;
$btn-focus-darken: 16%;
$btn-link-hover-darken: 10%;
$btn-link-focus-darken: 15%;


/////////////
// extra
//

//border padding margin
$direction: top right bottom left;
$border-radius: 4px;
$border-width: 1px;
$border-color: #999;
$padding: 10px;
$margin: 20px;

$highlight: #feefcc;

//font situation and bg situation
$font-situation: (
  active:$active,
  success:$success,
  info:$info,
  warning:$warning,
  danger:$danger
);
$bg-situation:(
  active:$active,
  success:$success,
  info:$info,
  warning:$warning,
  danger:$danger
);


/////////////
// form
//

$form-bd-width: 1px; // 表单元素边框宽度
$form-bd-color: #ccc; // 表单元素边框颜色
$form-bd-radius: 4px; // 表单元素圆角
$form-focus-bd-color: #0bb9fa; // 表单元素focus边框颜色
$form-readonly-color: #999; // 表单元素只读字体颜色
$form-readonly-bg-color: #f5f5f5; // 表单元素只读背景色
$form-disabled-color: #999; // 表单元素禁用字体颜色
$form-disabled-bg-color: #f5f5f5; // 表单元素禁用背景色

// form group
$form-group-x-margin: 20px;
$form-group-y-margin: 20px;

// label
$label-width: 80px;
$label-right: 10px;
$label-line-height: 34px;
$label-required-color: #f33237;

// input text
$input-pd: 5px 9px;
$input-bd-width: $form-bd-width;
$input-bd-color: $form-bd-color;
$input-bd-radius: $form-bd-radius;
$input-line-height: 22px;

// textarea
$textarea-height: auto;
$textarea-pd: 9px;
$textarea-bd-width: $form-bd-width;
$textarea-bd-color: $form-bd-color;
$textarea-bd-radius: $form-bd-radius;

// radio & checkbox
$check-bg-color: $white; // 背景色
$check-bd-color: #b5b5b5; // 边框色
$check-checked-color: #24c54a; // 选中的颜色
$check-disabled-bg-color: #fff; // 禁用背景色
$check-disabled-bd-color: #ddd; // 禁用边框色
$check-disabled-checked-color: #ddd; // 禁用&选中颜色
$check-x-spacing: 18px; // 同一行中选项间距

$radio-width: 16px;
$radio-height: 16px;
$checkbox-width: 16px;
$checkbox-height: 16px;

$radio-right: 5px;
$checkbox-right: 5px;

$radio-bd-width: 1px;
$checkbox-bd-width: 1px;

$checkbox-radius: 3px;

$radio-checked-width: 8px;
$radio-checked-height: 8px;

/////////////
// table
//

$table-border-color: #ddd;
$table-td-pd: 8px;
$table-hover-bg-color: #f9f9f9;
$table-striped-bg-color: #f9f9f9;

////////////////////// components /////////////////////////

//tag
$tag-radius: 3px;
$tag-bgcolor-normal: #f5f5f5;
$tag-padding: 4px 9px;
$tag-fontsize: inherit;
$tag-close-ml: 8px;
$tag-colors: (
	blue: #0bb9fa,
	green: #24c54a,
	orange: #f8af00,
	red: #f33237
);

//badge
$badge-color: #fff;
$badge-bgcolor: #f13737;
$badge-padding: 2px 6px;
$badge-fontsize: 12px;
$badge-radius: 9px;

/////////////
// navigation
//

$nav-font-size: 14px;
$nav-font-color: #333;
$nav-item-pd: 0 15px;
$nav-line-height: 34px;
$nav-item-active: #3572fe;
$nav-item-hover: #f5f5f5;

$nav-tab-bd-width: 1px;
$nav-tab-bd-color: #ccc;
$nav-tab-active-bd-width: 2px;
$nav-tab-bd-radius: 4px;
$nav-tab-font-color: $nav-font-color;

$nav-crumb-pd: 0 20px;
$nav-crumb-item-pd: 0 8px;
$nav-crumb-line-height: 40px;
$nav-crumb-bg-color: #f6f6f6;

$nav-menu-bg-color: #fff;
$nav-menu-bd-radius: 4px;
$nav-menu-bd-width: 1px;
$nav-menu-bd-color: #ccc;
$nav-menu-active: #0bb9fa;
$nav-menu-line-height: 30px;


/////////////
// progress
//

$progress-height: 22px;
$progress-height-sm: 7px;

$progress-bar-color: $grey-7;
$progress-done-color: #3572fe;
$progress-success-color: $success;
$progress-fail-color: $danger;