<div class="dxy-tree">
  <div class="dxy-tree-node dxy-tree-expanded">
    <div class="dxy-tree-content">
      <span class="dxy-tree-expand-icon"></span>
      <div>parent-1</div>
    </div>
    <div class="dxy-tree-children">
      <div class="dxy-tree-node">
        <div class="dxy-tree-content">
          <span class="dxy-tree-expand-icon"></span>
          <div>child-1</div>
        </div>
        <div class="dxy-tree-children">
            <div class="dxy-tree-node">
              <div class="dxy-tree-content">
                <div>child-1-1</div>
              </div>
            </div>
            <div class="dxy-tree-node">
              <div class="dxy-tree-content">
                <div>child-1-2</div>
              </div>
            </div>
        </div>
      </div>
      <div class="dxy-tree-node">
        <div class="dxy-tree-content">
          <div>child-2</div>
        </div>
      </div>
    </div>
  </div>
</div>