.#{$prefix}tag {
	display: inline-block;
	color: $tag-color-normal;
	background-color: $tag-bgcolor-normal;
	border: 1px solid $tag-bdcolor-normal;
	border-radius: $tag-radius;
	@include tag_size($tag-padding, $tag-fontsize);
	line-height: 1;
	.#{$prefix}icon {
		font-size: inherit;
		line-height: inherit;
		margin-left: $tag-close-ml;
	}
}
@each $name,$color in $tag-colors {
  .#{$prefix}tag-#{$name} {
	  @include tag_colorful($color);

	  .#{$prefix}icon {
		  padding: 0;
		  border: none;
		  color: $color;
		  background: none;
	  }
  }
}

.#{$prefix}badge {
	color: $badge-color;
	background-color: $badge-bgcolor;
	line-height: 1;
	font-style: inherit;
	@include badge_size($badge-padding, $badge-fontsize, $badge-radius);
}
