.#{$prefix}-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 999;
	background: rgba($loading-bgcolor, $loading-bg-opcity);
	color: $loading-color;
	.#{$prefix}-loading-inner {
		display: inline-block;
		text-align: center;
		padding: 5px;
		width: auto;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.#{$prefix}-loading-img {
		display: inline-block;
		line-height: 1;
		width: $loading-size;
		height: $loading-size;
		animation: loading 1s linear infinite both;
		i {
			font-size: $loading-size;
		}
	}
	.#{$prefix}-loading-txt {
		margin-top: 15px;
	}
}

@keyframes loading{
	from{transform: rotate(0) translateZ(0);}
	to{transform: rotate(360deg) translateZ(0);}
}