.#{$prefix}progress {
  line-height: $progress-height;

  .#{$prefix}progress-bar {
    display: inline-block;
    width: 100%;
    height: $progress-height;
    border-radius: $progress-height;
    background-color: $progress-bar-color;
    overflow: hidden;

    .#{$prefix}progress-done {
      height: 100%;
      color: $white;
      text-align: right;
      border-radius: inherit;
      background-color: $progress-done-color;

      span {
        padding: 0 10px;
      }
    }
  }

  &.#{$prefix}progress-success {
    .#{$prefix}progress-done {
      background-color: $progress-success-color;
    }
  }

  &.#{$prefix}progress-fail {
    .#{$prefix}progress-done {
      background-color: $progress-fail-color;
    }
  }
}

/* 小进度条 */
.#{$prefix}progress-sm {
  position: relative;
  padding-right: 45px;
  line-height: $progress-height-sm;
  @extend .#{$prefix}progress;

  .#{$prefix}progress-bar {
    height: $progress-height-sm;
    border-radius: $progress-height-sm;
  }

  .#{$prefix}progress-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    margin-left: 10px;
    text-align: left;
  }

  &.#{$prefix}progress-success {
    color: $progress-success-color;
  }

  &.#{$prefix}progress-fail {
    color: $progress-fail-color;
  }
}