.#{$prefix}search-select{
  display: inline-block;
  min-width: $select-min-width;
  width: 100%;
  .#{$prefix}search-input{
    width: 100%;
    height: $select-input-height;
    font-size: $select-input-font-size;
    color: $select-input-color;
    line-height: 1;
    padding: $select-input-padding;
    border: $select-input-border;
    border-radius: $select-input-border-radius;
    background-color: $select-input-bg-color;
    box-sizing: border-box;
    &:focus {
      outline: 0;
    }
  }
  .#{$prefix}search-input-icon{
    position: absolute;
    width: $select-icon-width;
    height: $select-input-height;
    right: 0;
    top: 0;
    font-size: $select-icon-font-size;
    text-align: center;
    line-height: $select-input-height;
  }
}

.#{$prefix}search-select, .#{$prefix}search-select-multiple{
  position: relative;
  vertical-align: middle;
  .#{$prefix}select-list{
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow-y: scroll;
    left: 0;
    list-style: none;
    padding: 0;
    margin:$select-list-margin;
    border-radius: $select-list-border-radius;
    border: $select-list-border;
    background-color: $select-list-bg-color;
    li{
      padding-left: $select-li-padding-left;
      height: $select-li-height;
      line-height: $select-li-height;
      cursor: pointer;
      &:hover{
        background-color: $select-li-hover-bg-color;
      }
    }
    li.#{$prefix}active{
      background-color: $select-li-active-bg-color;
      color: $select-li-active-color;
    }
  }
}
.#{$prefix}search-select .#{$prefix}select-list{
  max-height: $select-list-height;
}
.#{$prefix}search-select-multiple .#{$prefix}select-list{
  max-height: $select-list-multiple-height
}

.#{$prefix}search-select-multiple{
  width: 100%;
  .#{$prefix}search-input{
    width: 100%;
    min-height: $select-input-height;
    font-size: $select-input-multiple-font-size;
    color: $select-input-multiple-color;
    line-height: 1;
    padding: $select-input-multiple-padding;
    border: $select-input-multiple-border;
    background-color: $select-input-multiple-bg-color;
    border-radius: $select-input-multiple-border-radius;
    display: inline-block;
  }
  .#{$prefix}cursor{
    width: $select-cursor-border-width;
    display: inline-block;
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
  }
  .#{$prefix}tags{
    display: flex;
    flex-wrap: wrap;
    margin: $select-tag-wrap-margin;
  }
  .#{$prefix}tag{
    display: inline-block;
    //padding:$select-tag-padding;
    //background-color: $select-tag-bg-color;
    //border: $select-tag-border;
    //border-radius: $select-tag-border-radius;
    margin:$select-tag-margin;
    font-size: $select-tag-font-size;
    color: $select-tag-font-color;
    cursor: pointer;
  }
}