@mixin alert_size($width, $height, $padding) {
	width: $width;
	max-width: 100%;
	height: $height;
	line-height: $height;
	padding: $padding;
}

@mixin alert_color($color) {
	color: $color;
	border: 1px solid rgba($color, .5);
	background-color: rgba($color, .05);
}
