@mixin btn_hover($bg-color) {
  &:hover {
    background-color: darken($bg-color, 8%);
  }
}

@mixin btn_active($bg-color) {
  &:active,
  &:focus {
    background-color: darken($bg-color, 16%);
  }
}

@mixin btn_size($padding, $font-size) {
  padding: $padding;
  font-size: $font-size;
}

@mixin btn_situation($color) {
  color: #fefefe;
  border-color: $color;
  background-color: $color;
  @include btn_hover($color);
  @include btn_active($color);
  &:disabled{
    color: #bcbcbc;
    background-color: #eeeeee;
    border-color: #dddddd;
    cursor: not-allowed;
  }
}
