@mixin h_text($font-size) {
  margin: 0;
  padding: 0;
  font-size: $font-size;
  font-family: $h-font-family;
  font-weight: $h-font-weight;
  line-height: $line-height-lg;
}
@mixin quote_border($width, $color, $spacing) {
    border-left: $width solid $color;
    padding-left: $spacing;
}
