<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>警告框-demo</title>
		<link rel="stylesheet" type="text/css" href="../../dist/css/dxy-ui.css"/>
		<style>
			.box div {
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<h3>警告框</h3>
		<div class="box">
			<div class="dxy-alert-info"><span>info text</span></div>
			<div class="dxy-alert-success"><span>success text</span></div>
			<div class="dxy-alert-warning"><span>warning text</span></div>
			<div class="dxy-alert-error"><span>error text</span></div>
			
			<div class="dxy-alert-info"><span>info text</span><button class="dxy-icon dxy-icon-close close"></button></div>
			<div class="dxy-alert-success"><span>success text</span><button class="dxy-icon dxy-icon-close close"></button></div>
			<div class="dxy-alert-warning"><span>warning text</span><button class="dxy-icon dxy-icon-close close"></button></div>
			<div class="dxy-alert-error"><span>error texttexttexttexttexttexttext</span><button class="dxy-icon dxy-icon-close close"></button></div>
			
			<div class="dxy-alert-info"><i class="dxy-icon dxy-icon-info"></i><span>info text</span></div>
			<div class="dxy-alert-success"><i class="dxy-icon dxy-icon-check-circle"></i><span>success text</span></div>
			<div class="dxy-alert-warning"><i class="dxy-icon dxy-icon-warning-circle"></i><span>warning text</span></div>
			<div class="dxy-alert-error"><i class="dxy-icon dxy-icon-close-circle"></i><span>error text</span></div>
			
			<div class="dxy-alert-info"><i class="dxy-icon dxy-icon-info"></i><span>info text</span><button class="dxy-icon dxy-icon-close close"></button></div>
			<div class="dxy-alert-success"><i class="dxy-icon dxy-icon-check-circle"></i><span>success text</span><button class="dxy-icon dxy-icon-close close"></button></div>
			<div class="dxy-alert-warning"><i class="dxy-icon dxy-icon-warning-circle"></i><span>warning text</span><button class="dxy-icon dxy-icon-close close"></button></div>
			<div class="dxy-alert-error"><i class="dxy-icon dxy-icon-close-circle"></i><span>error text</span><button class="dxy-icon dxy-icon-close close"></button></div>
		</div>
	</body>
</html>
