<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DXY-UI DEMO</title>
  <link rel="stylesheet" href="../../dist/css/dxy-ui.min.css">
</head>
<body>
<h4>水平按钮组 dxy-btn-group</h4>
<div class="dxy-btn-group">
    <button type="button" class="dxy-btn dxy-btn-primary">Left</button>
    <button type="button" disabled class="dxy-btn dxy-btn-primary">Middle</button>
    <button type="button" class="dxy-btn ">Right</button>
</div>
<br>
<br>
<br>
<h4>竖直按钮组 dxy-btn-group-vertical</h4>
<div class="dxy-btn-group-vertical">
    <button type="button" class="dxy-btn dxy-btn-primary">Left</button>
    <button type="button" disabled class="dxy-btn dxy-btn-primary">Middle</button>
    <button type="button" class="dxy-btn ">Right</button>
</div>
</body>
</html>