<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../dist/css/dxy-ui.css"/>
		<style>
			a {
				float: left;
				margin-right: 30px;
			}
		</style>
	</head>
	<body>
		<a class="dxy-go-top" href="#"><i class="dxy-icon dxy-icon-arrow-up-fill"></i></a>
		<a class="dxy-go-top" href="#"><i class="dxy-icon dxy-icon-arrow-up"></i></a>
		<a class="dxy-go-top" href="#"><i class="dxy-icon dxy-icon-arrow-up-underline"></i></a>
		<a class="dxy-go-top dxy-go-top-white" href="#"><i class="dxy-icon dxy-icon-arrow-up-underline"></i></a>
		<a class="dxy-go-top dxy-go-top-square-white" href="#"><i class="dxy-icon dxy-icon-arrow-up"></i></a>
	</body>
</html>
