<div class="dxy-input-group">
    <span class="dxy-input-group-addon">$</span>
    <input type="text" class="dxy-input"/>
    <span class="dxy-input-group-addon">.00</span>
</div>
<div class="dxy-input-group">
    <input type="text" class="dxy-input"/>
    <span class="dxy-input-group-addon">.00</span>
</div>
<div class="dxy-input-group">
    <span class="dxy-input-group-addon">$</span>
    <input type="text" class="dxy-input"/>
</div>

<div class="dxy-input-group">
    <input type="text" class="dxy-input"/>
    <span class="dxy-input-group-btn">
        <button class="dxy-btn dxy-btn-primary" type="button">Go!</button>
    </span>
</div>
<div class="dxy-input-group">
    <span class="dxy-input-group-btn">
        <button class="dxy-btn dxy-btn-primary" type="button">Go!</button>
    </span>
    <input type="text" class="dxy-input"/>
</div>


<div class="dxy-input-group">
    <input type="text" class="dxy-input"/>
    <span class="dxy-input-group-btn">
        <input class="dxy-btn dxy-btn-primary" type="button" value="搜索">
    </span>
</div>
<div class="dxy-input-group">
    <span class="dxy-input-group-btn">
        <input class="dxy-btn dxy-btn-primary" type="button" value="搜索">
    </span>
    <input type="text" class="dxy-input"/>
</div>

<div class="dxy-input-group">
    <span class="dxy-input-group-addon">$</span>
    <input type="text" class="dxy-input"/>
    <span class="dxy-input-group-btn">
        <button class="dxy-btn dxy-btn-primary" type="button">Go!</button>
    </span>
</div>
<div class="dxy-input-group">
    <span class="dxy-input-group-btn">
        <button class="dxy-btn dxy-btn-primary" type="button">Go!</button>
    </span>
    <input type="text" class="dxy-input"/>
    <span class="dxy-input-group-addon">$</span>
</div>


<div class="dxy-input-group">
    <span class="dxy-input-group-addon">$</span>
    <input type="text" class="dxy-input"/>
    <span class="dxy-input-group-btn">
        <input class="dxy-btn dxy-btn-primary" type="button" value="搜索">
    </span>
</div>
<div class="dxy-input-group">
    <span class="dxy-input-group-btn">
        <input class="dxy-btn dxy-btn-primary" type="button" value="搜索">
    </span>
    <input type="text" class="dxy-input"/>
    <span class="dxy-input-group-addon">$</span>
</div>