<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../dist/css/dxy-ui.css"/>
		<style>
			.wrap {
				padding: 10px;
			}
			.wrap h5 {
				margin-bottom: 10px;
			}
		</style>
	</head>
	<body>
		<div class="wrap">
			<h5>默认标签</h5>
			<label class="dxy-tag">C101</label>
			<label class="dxy-tag dxy-tag-blue">C101</label>
			<label class="dxy-tag dxy-tag-green">C101</label>
			<label class="dxy-tag dxy-tag-orange">C101</label>
			<label class="dxy-tag dxy-tag-red">C101</label>
		</div>
		<div class="wrap">
			<h5>带关闭按钮(自行添加标签)</h5>
			<label class="dxy-tag">C101<i class="dxy-icon dxy-icon-close"></i></label>
			<label class="dxy-tag dxy-tag-blue">C101<i class="dxy-icon dxy-icon-close"></i></label>
			<label class="dxy-tag dxy-tag-green">C101<i class="dxy-icon dxy-icon-close"></i></label>
			<label class="dxy-tag dxy-tag-orange">C101<i class="dxy-icon dxy-icon-close"></i></label>
			<label class="dxy-tag dxy-tag-red">C101<i class="dxy-icon dxy-icon-close"></i></label>
		</div>
		<div class="wrap">
			<h5>徽章</h5>
			<i class="dxy-badge">2</i>
			<i class="dxy-badge">88</i>
		</div>
	</body>
</html>
