<label class="dxy-tag">C101</label>
<label class="dxy-tag dxy-tag-blue">C101</label>
<label class="dxy-tag dxy-tag-green">C101</label>
<label class="dxy-tag dxy-tag-orange">C101</label>
<label class="dxy-tag dxy-tag-red">C101</label>

<label class="dxy-tag">C101<a class="dxy-icon dxy-icon-close"></a></label>
<label class="dxy-tag dxy-tag-blue">C101<a class="dxy-icon dxy-icon-close"></a></label>
<label class="dxy-tag dxy-tag-green">C101<a class="dxy-icon dxy-icon-close"></a></label>
<label class="dxy-tag dxy-tag-orange">C101<a class="dxy-icon dxy-icon-close"></a></label>
<label class="dxy-tag dxy-tag-red">C101<a class="dxy-icon dxy-icon-close"></a></label>

<i class="dxy-badge">2</i>
<i class="dxy-badge">88</i>
