<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../dist/css/dxy-ui.css"/>
		<style type="text/css">
			body {
				/*background: #000;*/
			}
			.box {
				text-align: center;
				margin-bottom: 30px;
				height: 300px;
				border: 1px solid #ccc;
				position: relative;
			}
			.red {
				color: red;
			}
		</style>
	</head>
	<body>
		<h4>loading</h4>
		<div class="box">
			<div class="dxy-loading">
				<div class="dxy-loading-inner">
					<i class="dxy-loading-img dxy-icon dxy-icon-loading"></i>
				</div>
			</div>
			<div>被loading盖掉的内容</div>
			<div class="red">被loading盖掉的内容</div>
		</div>
		<h4>有描述文字的loading</h4>
		<div class="box">
			<div class="dxy-loading">
				<div class="dxy-loading-inner">
					<i class="dxy-loading-img dxy-icon dxy-icon-loading"></i>
					<p class="dxy-loading-txt">拼命加载中</p>
				</div>
			</div>
			<div>被loading盖掉的内容</div>
			<div class="red">被loading盖掉的内容</div>
		</div>
	</body>
</html>
