<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../dist/css/dxy-ui.css"/>
		<style type="text/css">
			body {
				/*background: #000;*/
			}
			.box {
				width: 400px;
				height: 300px;
				border: 1px solid #ccc;
				position: relative;
			}
		</style>
	</head>
	<body>
		<div class="dxy-loading">
			<div class="dxy-loading-inner">
				<div class="dxy-loading-img"><i class="dxy-icon dxy-icon-loading"></i></div>
			</div>
		</div>
		<div class="box">
			<div class="dxy-loading">
				<div class="dxy-loading-inner">
					<div class="dxy-loading-img"><i class="dxy-icon dxy-icon-loading"></i></div>
					<p class="dxy-loading-txt">拼命加载中</p>
				</div>
			</div>
		</div>
	</body>
</html>
