<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navigation demo</title>
  <link rel="stylesheet" href="../../dist/css/dxy-ui.min.css">
</head>
<body>
  <div id="j_main">
    <h4>导航</h4>
    <ul class="dxy-nav">
      <li class="dxy-active"><a href="#">首页</a></li>
      <li><a href="#">推荐</a></li>
      <li><a href="#">帮助</a></li>
    </ul>
    <br>

    <h4>标签页</h4>
    <ul class="dxy-nav dxy-nav-tab">
      <li class="dxy-active"><a href="#">首页</a></li>
      <li><a href="#">推荐</a></li>
      <li><a href="#">帮助</a></li>
    </ul>
    <br>

    <h4>胶囊式</h4>
    <ul class="dxy-nav dxy-nav-pill">
      <li class="dxy-active"><a href="#">首页</a></li>
      <li><a href="#">推荐</a></li>
      <li><a href="#">帮助</a></li>
    </ul>
    <br>

    <h4>胶囊式垂直</h4>
    <ul class="dxy-nav dxy-nav-pill-vertical">
      <li class="dxy-active"><a href="#">首页</a></li>
      <li><a href="#">推荐</a></li>
      <li><a href="#">帮助</a></li>
    </ul>
    <br>

    <h4>面包屑</h4>
    <ul class="dxy-nav dxy-nav-crumb">
      <li class="dxy-active"><a href="#">首页</a></li>
      <li><a href="#">推荐</a></li>
      <li><a href="#">帮助</a></li>
    </ul>
    <br>

    <h4>下拉菜单</h4>
    <ul class="dxy-nav dxy-nav-menu">
      <li class="dxy-active"><a href="#">首页</a></li>
      <li><a href="#">推荐</a></li>
      <li><a href="#">帮助</a></li>
    </ul>
    <br>
  </div>
</body>
</html>