<div>
	<div class="dxy-pagination">
		<a href="" class="dxy-pagination-btn"><i class="dxy-icon dxy-icon-arrow-left"></i></a>
		<a href="" class="dxy-pagination-btn">1</a>
		<a href="" class="dxy-pagination-btn dxy-pagination-cur">2</a>
		<a href="" class="dxy-pagination-btn">3</a>
		<a href="" class="dxy-pagination-btn">4</a>
		<a href="javascript:;" class="dxy-pagination-btn dxy-pagination-omit">...</a>
		<a href="" class="dxy-pagination-btn">9</a>
		<!--例：也可支持button标签-->
		<button class="dxy-pagination-btn" disabled>10</button>
		<a href="javascript:;" class="dxy-pagination-btn dxy-pagination-disabled" disabled><i class="dxy-icon dxy-icon-arrow-right"></i></a>
	</div>
</div>