<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../dist/css/dxy-ui.css"/>
		<style>
			.container1 div {
				margin-left: 20px;
			}
			.dxy-pop, .dxy-tip {
				margin-left: 20px;
			}
			h4 {
				margin: 10px 20px;
			}
			p {
				margin: 0;
			}
		</style>
	</head>
	<body>
		<div class="container1">
			<h4>简短提示</h4>
			<div class="dxy-tip left">投诉职位</div>
			<div class="dxy-tip right">投诉职位</div>
			<div class="dxy-tip top">投诉职位</div>
			<div class="dxy-tip bottom">投诉职位</div>
		</div>
		<div class="container2">
			<h4>可嵌入dom</h4>
			<div class="dxy-pop">
				<h5 class="dxy-pop-head">标题</h5>
				<div class="dxy-pop-body">
					<p>一段文字</p>
				</div>
			</div>
			<div class="dxy-pop left">
				<h5 class="dxy-pop-head">标题</h5>
				<div class="dxy-pop-body">
					<p>一段文字</p>
				</div>
			</div>
			<div class="dxy-pop right">
				<h5 class="dxy-pop-head">标题</h5>
				<div class="dxy-pop-body">
					<p>一段文字</p>
				</div>
			</div>
			<div class="dxy-pop top">
				<h5 class="dxy-pop-head">标题</h5>
				<div class="dxy-pop-body">
					<p>一段文字</p>
					<p>一段文字</p>
				</div>
			</div>
			<div class="dxy-pop bottom">
				<h5 class="dxy-pop-head">标题</h5>
				<div class="dxy-pop-body">
					<p>一段文字一段文字</p>
					<p>一段文字一段文字</p>
				</div>
			</div>
		</div>
	</body>
</html>
