<div class="dxy-progress dxy-margin">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 0;"><span>0%</span></div>
  </div>
</div>

<div class="dxy-progress dxy-margin">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 70%;"><span>70%</span></div>
  </div>
</div>

<div class="dxy-progress dxy-progress-success dxy-margin">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 100%;"><span>100%</span></div>
  </div>
</div>

<div class="dxy-progress dxy-progress-fail dxy-margin">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 80%;"><span>80%</span></div>
  </div>
</div>

<div class="dxy-progress-sm dxy-margin">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 0;"></div>
  </div>
  <span class="dxy-progress-text">0%</span>
</div>

<div class="dxy-progress-sm dxy-margin">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 70%;"></div>
  </div>
  <span class="dxy-progress-text">70%</span>
</div>

<div class="dxy-progress-sm dxy-progress-success dxy-margin">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 100%;"></div>
  </div>
  <span class="dxy-progress-text">
    <i class="dxy-icon dxy-icon-check-circle"></i>
  </span>
</div>

<div class="dxy-progress-sm dxy-progress-fail dxy-margin">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 70%;"></div>
  </div>
  <span class="dxy-progress-text">
    <i class="dxy-icon dxy-icon-close-circle"></i>
  </span>
</div>
