<div class="dxy-progress">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 0;"><span>0%</span></div>
  </div>
</div>

<div class="dxy-progress">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 70%;"><span>70%</span></div>
  </div>
</div>

<div class="dxy-progress dxy-progress-success">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 100%;"><span>100%</span></div>
  </div>
</div>

<div class="dxy-progress dxy-progress-fail">
  <div class="dxy-progress-bar">
    <div class="dxy-progress-done" style="width: 80%;"><span>80%</span></div>
  </div>
</div>