<div style="width: 150px">
    <div class="dxy-search-select">
        <input class="dxy-search-input" placeholder="请选择"/>
        <i class="dxy-search-input-icon dxy-icon dxy-icon-arrow-down-fill"></i>
        <ul class="dxy-select-list">
            <li>姓名</li>
            <li class="dxy-active">姓名</li>
            <li>姓名</li>
            <li>姓名</li>
            <li>姓名</li>
            <li>姓名</li>
            <li>姓名</li>
            <li>姓名</li>
        </ul>
    </div>
</div>

<div style="width: 300px">
    <div class="dxy-search-select-multiple">
        <div class="dxy-search-input">
            <div class="dxy-tags">
                <span class="dxy-tag">aa <a class="dxy-icon dxy-icon-close"></a></span>
                <span class="dxy-tag">bb<a class="dxy-icon dxy-icon-close"></a></span>
                <span class="dxy-tag">cc<a class="dxy-icon dxy-icon-close"></a></span>
                <span class="dxy-tag">dd<a class="dxy-icon dxy-icon-close"></a></span>
                <span class="dxy-tag">哈哈哈<a class="dxy-icon dxy-icon-close"></a></span>
                <span class="dxy-tag">就是这样<a class="dxy-icon dxy-icon-close"></a></span>
                <span class="dxy-tag">的<a class="dxy-icon dxy-icon-close"></a></span>
                <span class="dxy-tag">苹果<a class="dxy-icon dxy-icon-close"></a></span>
                <span class="dxy-tag">梨子<a class="dxy-icon dxy-icon-close"></a></span>
                <input type="text" class="dxy-cursor">
            </div>
        </div>
        <i class="dxy-search-input-icon"></i>
        <ul class="dxy-select-list">
            <li>姓名</li>
            <li class="dxy-active">姓名</li>
            <li >姓名</li>
            <li>姓名</li>
            <li >姓名</li>
            <li >姓名</li>
            <li >姓名</li>
            <li >姓名</li>
            <li >姓名</li>
            <li>姓名</li>
        </ul>
    </div>
</div>
