<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DXY-UI DEMO</title>
  <link rel="stylesheet" href="../../dist/css/dxy-ui.min.css">
</head>
<body>
  <div id="j_main">
    <h4>横向步骤条</h4>
    <div class="dxy-step-bar">
      <div class="dxy-step-item dxy-step-done">
        <span class="dxy-icon dxy-icon-check-thin"></span>
        已完成
      </div>
      <div class="dxy-step-item dxy-step-active">
        <span>2</span>
        进行中
      </div>
      <div class="dxy-step-item">
        <span>3</span>
        下一步
      </div>
      <div class="dxy-step-item">
        <span>4</span>
        最后一步
      </div>
    </div>
    <br>

    <h4>横向撑满步骤条</h4>
    <div class="dxy-step-bar-wide">
      <div class="dxy-step-item dxy-step-done">
        <span>1</span>
        已完成
      </div>
      <div class="dxy-step-item dxy-step-active">
        <span>2</span>
        进行中
      </div>
      <div class="dxy-step-item">
        <span>3</span>
        下一步
      </div>
      <div class="dxy-step-item">
        <span>4</span>
        最后一步
      </div>
    </div>
    <br>

    <h4>竖向步骤条</h4>
    <div class="dxy-step-bar-vertical">
      <div class="dxy-step-item dxy-step-done">
        <span>1</span>
        已完成
      </div>
      <div class="dxy-step-item dxy-step-active">
        <span>2</span>
        进行中
      </div>
      <div class="dxy-step-item">
        <span>3</span>
        下一步
      </div>
      <div class="dxy-step-item">
        <span>4</span>
        最后一步
      </div>
    </div>
  </div>
</body>
</html>