<div class="dxy-tree">
  <div class="dxy-tree-node dxy-tree-expanded">
    <div class="dxy-tree-content">
      <span class="dxy-tree-expand-icon"></span>
      <label class="dxy-checkbox">
        <input type="checkbox" checked>
        <span>parent-1</span>
      </label>
    </div>
    <div class="dxy-tree-children">
      <div class="dxy-tree-node" disabled>
        <div class="dxy-tree-content">
          <span class="dxy-tree-expand-icon"></span>
          <label class="dxy-checkbox">
            <input type="checkbox" checked disabled>
            <span>child-1</span>
          </label>
        </div>
        <div class="dxy-tree-children">
          <div class="dxy-tree-node" disabled>
            <div class="dxy-tree-content">
            <label class="dxy-checkbox">
              <input type="checkbox" checked disabled>
              <span>child-1-1</span>
            </label>
            </div>
          </div>
          <div class="dxy-tree-node">
            <div class="dxy-tree-content">
              <label class="dxy-checkbox">
                <input type="checkbox" checked>
                <span>child-1-2</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="dxy-tree-node">
        <div class="dxy-tree-content">
          <label class="dxy-checkbox">
            <input type="checkbox">
            <span>child-2</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
