.#{$prefix}-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.#{$prefix}-list-dot {
    @extend .#{$prefix}-list;
    li {
        padding-left: $list-li-padding;
        position: relative;
        @include list-dot-style($list-style-size,$list-style-color);
    }
}
.#{$prefix}-list-circle {
    @extend .#{$prefix}-list;
    li {
        padding-left: $list-li-padding;
        position: relative;
        @include list-circle-style($list-style-size,$list-style-color);
    }
}
.#{$prefix}-list-horizon {
    @extend .#{$prefix}-list;
    font-size: 0;
    li {
        font-size: $font-size;
        display: inline-block;
        padding-right: $list-li-spacing;
    }
}
.#{$prefix}-list-phrase {
    @extend .#{$prefix}-list;
    li {
        .#{$prefix}-list-phrase-tit {
            font-weight: bold;
        }
        .#{$prefix}-list-phrase-txt {
            
        }
    }
    
}
.#{$prefix}-list-phrase-horizon {
    @extend .#{$prefix}-list;
    @extend .#{$prefix}-list-phrase;
    li {
        font-size: 0;
        .#{$prefix}-list-phrase-tit {
            font-size: $font-size;
            display: inline-block;
            width: $list-tit-width;
            padding-right: $list-tit-spacing;
            text-align: right;
        }
        .#{$prefix}-list-phrase-txt {
            font-size: $font-size;
            display: inline-block;
        }
    }
    
}
