$border-radius: 4px;
$border-width: 1px;
$border-color: #999;
$padding: 10px;
$margin: 20px;

.border{
  border: $border-width solid $border-color;
}
.border-top {
  border-top: $border-width solid $border-color;
}
.border-right {
  border-right: $border-width solid $border-color;
}
.border-bottom {
  border-bottom: $border-width solid $border-color;
}
.border-left {
  border-left: $border-width solid $border-color;
}

.border-radius {
  border-radius: $border-radius;
}
.border-top-radius {
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}
.border-right-radius {
  border-bottom-right-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
.border-bottom-radius {
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.border-left-radius {
  border-bottom-left-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.padding{
  padding: $padding;
}
.padding-top {
  padding-top: $padding;
}
.padding-right {
  padding-right: $padding;
}
.padding-bottom {
  padding-bottom: $padding;
}
.padding-left {
  padding-left: $padding;
}
.padding-top-bottom{
  padding: $padding 0;
}
.padding-left-right{
  padding: 0 $padding;
}

.margin{
  margin: $margin;
}
.margin-top {
  margin-top: $margin;
}
.margin-right {
  margin-right: $margin;
}
.margin-bottom {
  margin-bottom: $margin;
}
.margin-left {
  margin-left: $margin;
}
.margin-top-bottom{
  margin: $margin 0;
}
.margin-left-right{
  margin: 0 $margin;
}